@model GroupViewModel

<tr class="row200">

    @if (User.IsInRole(Constants.ROLE_MOD) || User.IsInRole(Constants.ROLE_ADMIN))
    {
        <td class="column100 date" data-column="column1" rowspan="@(Model.Teams.Count + 1)">
            <a asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path"
               class="btn resultbtn date">@Html.DisplayFor(model => model.Date)</a>
        </td>
        <td class="column100" colspan="100">
            <a asp-controller="Groups" asp-action="EditPosition" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path"
               class="btn resultbtn delimiter">Group @Model.Name</a>
        </td>
    }
    else
    {
        <td class="column100 date" data-column="column1" rowspan="@(Model.Teams.Count + 1)">@Html.DisplayFor(model => model.Date)</td>
        <td class="column100 delimiter" colspan="100">Group @Model.Name</td>
    }
</tr>

@Html.DisplayFor(model => model.Teams)


