@page "{id}"
@model BookLibrary.Web.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<br />
<div class=" container">
    <div class="row">
        <div class="col-sm-4">
            <img src="@Model.ImageUrl" alt="Cover image for @Model.Title" />
        </div>
        <div class="col-sm-8">
            <h2>@Model.Title</h2>
            <h4>by @Html.DisplayFor(model => model.Author)</h4>
            <p>@Model.Description</p>
            @if (!Model.IsBorrowed)
            {
                <h5><b>Status: </b><strong class="text-info">At home</strong></h5>
                <a class="btn btn-lg btn-warning" asp-page="/Books/Borrow" asp-route-id="@Model.Id">Borrow this book</a>
            }
            else
            {
                <h5><b>Status: </b><strong class="text-danger">Borrowed</strong></h5>
            }
        </div>
    </div>
</div>


